.vuesaxLinearFilter.vuesaxLinearFilter {
  z-index: 0;
}
.root {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  padding: 32px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 8px 0px #919eab29;
}
.frame1000014350 {
  width: 146.8269px;
  height: 35.9988px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.frame1000014349 {
  width: min-content;
  height: min-content;
  padding: 2px;
}
.frame2 {
  width: 32px;
  height: 32px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.frame1000014171 {
  position: absolute;
  left: 24px;
  top: 124px;
  width: 98%;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.frame1000014170 {
  height: min-content;
  justify-content: space-between;
  align-items: center;
  gap: 92%;
}
.btn {
  width: min-content;
  height: min-content;
}
.frame1000014168 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  gap: 8px;
  padding: 16px;
  outline: solid 1px #fd6d1a;
  outline-offset: -1px;
  border-radius: 20px;
  background-color: #fd6d1a;
}
.frame1000014167 {
  z-index: 0;
  position: relative;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
}
.group3 {
  position: relative;
  width: 23px;
  height: 28px;
}
.frame3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.export {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame1000014331 {
  width: 100%;
  height: min-content;
  align-items: center;
  gap: 24px;
}
.search {
  width: 93%;
  height: 64px;
  align-items: center;
  gap: 12px;
  padding: 8px;
  border-radius: 99px;
  background-color: #f5f7f9;
}
.vuesaxLinearSearchNormal {
  width: 48px;
  height: 48px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.frame1000014330 {
  width: 449px;
  height: min-content;
  padding: 0 12px;
}
.search2 {
  color: #7c94b5;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.frame1000014333 {
  width: min-content;
  height: min-content;
  padding: 16px;
  outline: solid 1px #d5dee8;
  outline-offset: -1px;
  border-radius: 16px;
}
.frame1000014191 {
  width: 100%;
  height: min-content;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 24px;
}
.stack {
  width: 382px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 12px 0px #7c94b526;
}
.frame1000001798 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.frame1000001797 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  gap: 8px;
}
.stationCode {
  height: min-content;
  align-self: stretch;
  justify-content: center;
}
.stationCode2 {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:190px;
  color: #2c323f;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex-direction: column;
}
.date {
  height: min-content;
  align-self: stretch;
}
.company {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.fuel {
  width: 90%;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.fuel2 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._20L {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.price {
  width: 90%;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.price2 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2L {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.date2 {
  height: min-content;
  align-self: stretch;
  padding: 16px;
  box-shadow: inset 0px 1px 0px #d5dee8;
}
._1112024 {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.stack2 {
  width: 450px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 12px 0px #7c94b526;
}
.frame10000017982 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: flex-start;
  gap: 114px;
  padding: 20px;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.frame10000017972 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  gap: 8px;
}
.stationCode3 {
  height: min-content;
  align-self: stretch;
  justify-content: center;
}
.stationCode4 {
  color: #2c323f;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 213px;
  height: min-content;
  flex-direction: column;
}
.date3 {
  height: min-content;
  align-self: stretch;
}
.company2 {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.frame1000014175 {
  width: 450px;
  height: min-content;
  align-items: flex-start;
}
.frame1000014173 {
  width: 225px;
  height: min-content;
  flex-direction: column;
  box-shadow: inset -1px 0px 0px #d5dee8;
}
.fuel3 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 16px;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.fuel4 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._20L2 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fuel5 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 16px;
}
.price3 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2L2 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame1000014174 {
  width: 225px;
  height: min-content;
  flex-direction: column;
}
.fuel6 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 16px;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.approveFuel {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._20L3 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fuel7 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 16px;
}
.approvePrice {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2L3 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.date4 {
  height: min-content;
  align-self: stretch;
  padding: 16px;
  box-shadow: inset 0px 1px 0px #d5dee8;
}
._11120242 {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.stack3 {
  width: 450px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 12px 0px #7c94b526;
}
.frame10000017983 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: flex-start;
  gap: 114px;
  padding: 20px;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.frame10000017973 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  gap: 8px;
}
.stationCode5 {
  height: min-content;
  align-self: stretch;
  justify-content: center;
}
.stationCode6 {
  color: #2c323f;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 213px;
  height: min-content;
  flex-direction: column;
}
.date5 {
  height: min-content;
  align-self: stretch;
}
.company3 {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.fuel8 {
  width: 418px;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  gap: 276px;
  padding: 16px 0;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.fuel9 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._20L4 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.price4 {
  width: 418px;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  gap: 276px;
  padding: 16px 0;
}
.price5 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2L4 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.date6 {
  height: min-content;
  align-self: stretch;
  padding: 16px;
  box-shadow: inset 0px 1px 0px #d5dee8;
}
._11120243 {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.stack4 {
  width: 450px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 12px 0px #7c94b526;
}
.frame10000017984 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: flex-start;
  gap: 114px;
  padding: 20px;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.frame10000017974 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  gap: 8px;
}
.stationCode7 {
  height: min-content;
  align-self: stretch;
  justify-content: center;
}
.stationCode8 {
  color: #2c323f;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 213px;
  height: min-content;
  flex-direction: column;
}
.date7 {
  height: min-content;
  align-self: stretch;
}
.company4 {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.fuel10 {
  width: 418px;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  gap: 276px;
  padding: 16px 0;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.fuel11 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._20L5 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.price6 {
  width: 418px;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  gap: 276px;
  padding: 16px 0;
}
.price7 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2L5 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.date8 {
  height: min-content;
  align-self: stretch;
  padding: 16px;
  box-shadow: inset 0px 1px 0px #d5dee8;
}
._11120244 {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.stack5 {
  width: 450px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 12px 0px #7c94b526;
}
.frame10000017985 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: flex-start;
  gap: 114px;
  padding: 20px;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.frame10000017975 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  gap: 8px;
}
.stationCode9 {
  height: min-content;
  align-self: stretch;
  justify-content: center;
}
.stationCode10 {
  color: #2c323f;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 213px;
  height: min-content;
  flex-direction: column;
}
.date9 {
  height: min-content;
  align-self: stretch;
}
.company5 {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.frame10000141752 {
  width: 450px;
  height: min-content;
  align-items: flex-start;
}
.frame10000141732 {
  width: 225px;
  height: min-content;
  flex-direction: column;
  box-shadow: inset -1px 0px 0px #d5dee8;
}
.fuel12 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 16px;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.fuel13 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._20L6 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fuel14 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 16px;
}
.price8 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2L6 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame10000141742 {
  width: 225px;
  height: min-content;
  flex-direction: column;
}
.fuel15 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 16px;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.approveFuel2 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._20L7 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fuel16 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 16px;
}
.approvePrice2 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2L7 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.date10 {
  height: min-content;
  align-self: stretch;
  padding: 16px;
  box-shadow: inset 0px 1px 0px #d5dee8;
}
._11120245 {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.stack6 {
  width: 450px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 12px 0px #7c94b526;
}
.frame10000017986 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: flex-start;
  gap: 114px;
  padding: 20px;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.frame10000017976 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  gap: 8px;
}
.stationCode11 {
  height: min-content;
  align-self: stretch;
  justify-content: center;
}
.stationCode12 {
  color: #2c323f;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 213px;
  height: min-content;
  flex-direction: column;
}
.date11 {
  height: min-content;
  align-self: stretch;
}
.company6 {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.fuel17 {
  width: 418px;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  gap: 276px;
  padding: 16px 0;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.fuel18 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._20L8 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.price9 {
  width: 418px;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  gap: 276px;
  padding: 16px 0;
}
.price10 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2L8 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.date12 {
  height: min-content;
  align-self: stretch;
  padding: 16px;
  box-shadow: inset 0px 1px 0px #d5dee8;
}
._11120246 {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.stack7 {
  width: 450px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 12px 0px #7c94b526;
}
.frame10000017987 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: flex-start;
  gap: 114px;
  padding: 20px;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.frame10000017977 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  gap: 8px;
}
.stationCode13 {
  height: min-content;
  align-self: stretch;
  justify-content: center;
}
.stationCode14 {
  color: #2c323f;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 213px;
  height: min-content;
  flex-direction: column;
}
.date13 {
  height: min-content;
  align-self: stretch;
}
.company7 {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.frame10000141753 {
  width: 450px;
  height: min-content;
  align-items: flex-start;
}
.frame10000141733 {
  width: 225px;
  height: min-content;
  flex-direction: column;
  box-shadow: inset -1px 0px 0px #d5dee8;
}
.fuel19 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 16px;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.fuel20 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._20L9 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fuel21 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 16px;
}
.price11 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2L9 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame10000141743 {
  width: 225px;
  height: min-content;
  flex-direction: column;
}
.fuel22 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 16px;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.approveFuel3 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._20L10 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fuel23 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 16px;
}
.approvePrice3 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2L10 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.date14 {
  height: min-content;
  align-self: stretch;
  padding: 16px;
  box-shadow: inset 0px 1px 0px #d5dee8;
}
._11120247 {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.stack8 {
  width: 450px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 12px 0px #7c94b526;
}
.frame10000017988 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: flex-start;
  gap: 114px;
  padding: 20px;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.frame10000017978 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  gap: 8px;
}
.stationCode15 {
  height: min-content;
  align-self: stretch;
  justify-content: center;
}
.stationCode16 {
  color: #2c323f;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 213px;
  height: min-content;
  flex-direction: column;
}
.date15 {
  height: min-content;
  align-self: stretch;
}
.company8 {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.fuel24 {
  width: 418px;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  gap: 276px;
  padding: 16px 0;
  box-shadow: inset 0px -1px 0px #d5dee8;
}
.fuel25 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._20L11 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.price12 {
  width: 418px;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  gap: 276px;
  padding: 16px 0;
}
.price13 {
  color: #2c323f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2L11 {
  color: #2c323f;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.date16 {
  height: min-content;
  align-self: stretch;
  padding: 16px;
  box-shadow: inset 0px 1px 0px #d5dee8;
}
._11120248 {
  color: #7c94b5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
