.root {
  width: min-content;
  height: min-content;
  padding: 8px 12px;
  border-radius: 99px;
  background-color: #34c75926;
}
.submited {
  color: #34c759;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
